@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Control */
body::-webkit-scrollbar,
.scroll_control::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

body:hover::-webkit-scrollbar,
.scroll_control:hover::-webkit-scrollbar {
	/* width: 14px;
	height: 14px; */
}

.scroll_control::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 3px rgba(0, 0, 0, .2); */
	border-radius: 10px;

}

body::-webkit-scrollbar-thumb,
.scroll_control::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .2);
	border-radius: 10px;
	cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover,
.scroll_control::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .4);
}